version: "3.9"
services:
  nginx:
    image: nginx:stable-alpine
    container_name: cdn-proxy
    restart: unless-stopped
    user: "{{DOCKER_USER}}"
    ports:
      - "{{NGINX_HTTPS_PORT}}:{{NGINX_HTTPS_PORT}}"
    volumes:
      - {{NGINX_CONF_PATH}}:/etc/nginx/nginx.conf:ro
      - {{HOST_SSL_DIR}}:/certs:ro
      - {{NGINX_WWW_PATH}}:/usr/share/nginx/html:ro
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
