version: "3.9"
services:
  certbot:
    image: nbraun1/certbot
    container_name: certbot-renewal
    restart: unless-stopped
    user: "{{DOCKER_USER}}"
    ports:
      - "80:80"
    volumes:
      - {{HOST_SSL_DIR}}:/etc/letsencrypt
      - {{SSL_LOG_DIR}}:/var/log/letsencrypt
    environment:
      EMAIL: {{CERT_EMAIL}}
      DOMAINS: {{DOMAINS_CSV}}
      CRON: "0 0,12 * * *"
