version: "3.9"
services:
  hysteria2:
    image: tobyxdd/hysteria:latest
    container_name: hysteria2
    restart: unless-stopped
    ports:
      - "8443:8443/udp"
      - "8443:8443/tcp"
    volumes:
      - {{HYSTERIA_CONFIG_PATH}}:/etc/hysteria.yaml:ro
      - {{HOST_SSL_DIR}}:/certs:ro
    command: ["server", "-c", "/etc/hysteria.yaml"]