listen: :8443

tls:
  cert: {{TLS_CERT}}
  key: {{TLS_KEY}}

auth:
  type: password
  password: {{HYSTERIA_PASSWORD}}

resolver:
  type: https
  https:
    addr: 8.8.8.8:443
    timeout: 10s

masquerade:
  type: proxy
  proxy:
    url: {{MASQUERADE}}
    rewriteHost: true
