listen: :8444

tls:
  cert: {{TLS_CERT}}
  key: {{TLS_KEY}}

auth:
  type: password
  password: {{HYSTERIA_PASSWORD}}

resolver:
  type: https
  https:
    addr: 8.8.8.8:443
    timeout: 10s

masquerade:
  type: proxy
  proxy:
    url: {{MASQUERADE}}
    rewriteHost: true

outbounds:
  - name: direct
    type: direct
  - name: warp
    type: socks5
    socks5:
      addr: warp
      port: 1080

route:
  rules:
    - geoip: private
      outbound: direct
  default: warp
