version: "3.9"
services:
  vless-direct:
    image: ghcr.io/xtls/xray-core:latest
    container_name: vless-direct
    restart: unless-stopped
    volumes:
      - {{VLESS_DIRECT_CONFIG_PATH}}:/etc/xray/config.json:ro
      - {{HOST_SSL_DIR}}:/certs:ro
    networks:
      - proxy_net
    command: ["run", "-config", "/etc/xray/config.json"]

networks:
  proxy_net:
    external: true
