  # Runs Cloudflare WARP client, exposes SOCKS5 proxy on :1080 inside proxy_net
  warp:
    image: caomingjun/warp:slim-latest
    container_name: warp
    restart: always
    networks:
      - proxy_net
    environment:
      - WARP_SLEEP=2
      - GOST_ARGS=-L socks5://:1080?udp=true
    cap_add:
      - MKNOD
      - AUDIT_WRITE
      - NET_ADMIN
    device_cgroup_rules:
      - 'c 10:200 rwm'
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - {{WARP_DATA_PATH}}:/var/lib/cloudflare-warp
